@import "tailwindcss";

@theme{
  --color-ligth-sand: #d4d0c9;
  --color-sand: #ebd8c3;
  --color-gold: #eec364;
  --color-ligth-brown: #b48c5c;
  --color-brownn: #362e2c;
  --color-green: #3c4643;
  
}

body{
  background-color: #d4d0c9  ;
  padding: 0px;
  margin: 0px;

}

  /* Custom Scrollbar Styles */
  .custom-scrollbar::-webkit-scrollbar {
    height: 8px; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-brownn); 
    border-radius: 10px; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-gold); 
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-light-sand); 
    border-radius: 10px;
  }

  .mask-gradient-80 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.266) 80%, transparent);
  }

  