@import "tailwindcss";

@theme{
  --color-ligth-sand: #d4d0c9;
  --color-sand: #ebd8c3;
  --color-gold: #eec364;
  --color-ligth-brown: #b48c5c;
  --color-brownn: #362e2c;
  --color-green: #2C4F3A;
  
}

body{
  background-color: #d4d0c9  ;
  padding: 0px;
  margin: 0px;

}

  /* Custom Scrollbar Styles */
  .custom-scrollbar::-webkit-scrollbar {
    height: 8px; 
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #ebd8c3, #e1c9af, #d7bb9b, #cdad88, #c29f75, #c29f75, #c29f75, #c29f75, #cdad88, #d7bb9b, #e1c9af, #ebd8c3); 
    border-radius: 10px; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #ebd8c3, #e1c9af, #d7bb9b, #cdad88, #c29f75, #c29f75, #c29f75, #c29f75, #cdad88, #d7bb9b, #e1c9af, #ebd8c3);
    
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-light-sand); 
    border-radius: 10px;
  }

  .mask-gradient-80 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.266) 80%, transparent);
  }

  .gradient{
    background-image: linear-gradient(to top, #ebd8c3, #e1c9af, #d7bb9b, #cdad88, #c29f75, #b48f69, #a5805d, #977152, #805e4a, #674d41, #4f3d37, #362e2c);
    opacity: 0.6;
  }

  .gradient-ligth{
    background-image: linear-gradient(to top, #ebd8c3, #e1c9af, #d7bb9b, #cdad88, #c29f75, #c29f75, #c29f75, #c29f75, #cdad88, #d7bb9b, #e1c9af, #ebd8c3);
    opacity: 0.6;
    
  }


.bg-blur{
  /* From https://css.glass */
background: #ebd8c363;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.163);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(15px);
border: 1px solid rgba(154, 119, 78, 0.093);
}




/* Welcome Loader */
.ml8 {
  font-weight: 900;
  font-size: 4.5em;
  color: #d4d0c9; /* 🔹 Brown */
  width: 6em; /* 🔹 Ajuste del ancho */
  height: 6em;
  position: relative;
  display: flex;
  align-items: center;
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
  display: flex;
  align-items: center;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  margin-left: 8px;
  top: auto;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-gold {
  width: 6em;
  height: 6em;
  border: 2px dashed #eec364; /* 🔹 Gold */
  border-radius: 3em;
}

.ml8 .circle-green {
  width: 5em;
  height: 5em;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-green-dashed {
  border-radius: 3em;
  background-color: transparent;
  border: 2px dashed #2c4f3a87;
  width: 5.5em;
  height: 5.5em;
}
